@model OilShop.Models.Data.Oil

@{
    ViewData["Title"] = "Масло";
}

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр масла
</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfManufacture)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.DateOfManufacture)
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Brand.BrandOil)
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Type.TypeOil)
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Viscosity)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Viscosity.ViscosityOil)
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Capasity)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Capasity.Id)
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Country.CountryOrigin)
        </dt>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayFor(model => model.Supplier.SupplierOil)
        </dt>
    </dl>
</div>