@*@model IEnumerable<OilShop.Models.Data.PriceOil>*@
@*@model OilShop.ViewModels.Oils.IndexOilViewModel*@
@model IEnumerable<OilShop.Models.Data.Oil>
@{
    ViewData["Title"] = "Масло";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active">Масло</li>
    </ol>
</nav>
<h2>Масло</h2>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                var imreBase64Data = Convert.ToBase64String(item.Photo);
                var imgDataURL = string.Format("data:image/jpeg;base64,{0}", imreBase64Data);
                <div class="col">
                    <div class="card shadow-sm">
                        @*<svg class="bd-placeholder-img card-img-top" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">*@
                            <img src="@Html.DisplayFor(modelItem => imgDataURL)" class="rounded mx-auto d-block" alt="...">
                            @*<img src="@Url.Content(item.Oil.Path)"  alt="..." />*@
                        @*</svg>*@
                        <div class="card-body">
                            <h5 class="card-title">
                                @*@Html.DisplayNameFor(modelItem => item.Photo)*@
                                
                                @Html.DisplayFor(modelItem => item.Brand.BrandOil)
                                @Html.DisplayFor(modelItem => item.Viscosity.ViscosityOil)
                                <br />
                                @Html.DisplayFor(modelItem => item.Type.TypeOil)

                            </h5>
                            <p class="card-text">Объем: @Html.DisplayFor(modelItem => item.Capasity.CapasityOil)л.</p>
                            <p class="card-text">Страна производителя: @Html.DisplayFor(modelItem => item.Country.CountryOrigin)</p>
                            <p class="card-text">Поставщик: @Html.DisplayFor(modelItem => item.Supplier.SupplierOil)</p>
                            @*<h5 class="card-text">Цена: @Html.DisplayFor(modelItem => item.Price)₽</h5>*@

                            <a href="#" class="btn btn-primary">Заказать</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
